<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ArticleCommentMapper">

    <!-- 关联user表查询文章所有评论 -->
    <select id="selectCommentListByArticleId" resultType="com.blog.entity.ArticleComment">
        SELECT
            c.id,
            c.article_id AS articleId,
            c.user_id AS userId,
            c.content,
            c.create_time AS createTime,
            c.parent_id AS parentId,
            u.username AS commenterName,
            u.avatar AS commenterAvatar
        FROM
            article_comment c
                LEFT JOIN user u ON c.user_id = u.id
        WHERE
            c.article_id = #{articleId}
        ORDER BY
            c.create_time DESC
    </select>

</mapper>